/*Estilos Gerais*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  display: block;
}

.btn {
  border: 3px solid orange;
  color: orange;
  padding: 10px 30px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
}

.btn:hover {
  border-color: white;
  color: #ffffff;
}

.btn-preto:hover {
  color: black;
  border-color: black;
}

.subtitulo {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: .1em;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.subtitulo::after {
content: "";
display: block;
height: 3px;
width: 60px;
background: black;
margin: 8px auto;
}

.introdução-interna {
  width: 100%;
  margin-top: 92px;
  height: 160px;
  background-size: cover;
}

/*Header*/
.header {
  width: 100%;
  background: #fec63e;
  top: 0;
  position: fixed;
  padding: 15px 0;
  z-index: 10;
}

.header-menu {
  text-align: right;
}

.header-menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
}

.header-menu ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .1em;
  padding: 10px 0;
}

.header-menu ul li a:hover {
  color: #ffffff;
}

/*Introdução*/

.introdução {
  width: 100%;
  background: url("img/bg.jpg") no-repeat center;
  background-size: cover;
  margin-top: 92px;
  height: 380px;
  text-align: center;
  padding-top: 80px;
}

.introdução h1 {
  font-size: 48px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.quote-externo {
  max-width: 320px;
  margin: 0 auto;
  color: #ffffff;
  margin-bottom: 40px;
}

.quote-externo p {
  font-style: italic;
}

.quote-externo p::before, .quote-externo p::after {
  content: "";
  display: block;
  height: 3px;
  width: 60px;
  background: #ffffff;
  margin: 14px auto 10px auto;
}

.quote-externo  cite {
  font-weight: bold;
  font-style: normal;
  font-size:  14px;
  letter-spacing: .1em;
}

a {
  text-decoration: none;
}

.introdução .btn {
  margin-top: 40px;
}

/*produtos*/

.produtos-lista li {
  background: #fec63e;
  text-align: center;
}

.produtos-lista li h3 {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
  margin-top: 20px;
}

.produtos-lista li h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 2px auto;
}

.produtos-lista li p {
    padding: 10px 20px 20px 20px;
}

.produtos {
  padding: 60px 0;
}

.produtos-icone {
  background: black;
  padding: 20px;
}

.call {
  text-align: center;
  padding-top: 40px;
  clear: both;
}

.call p {
  margin-bottom: 20px;
  font-weight: bold;
}

/*Portfólio*/

.portifolio {
 width: 100%;
 background: black;
 padding: 40px 0;
}

.portifolio .subtitulo {
  color: #fec63e;
}

.portifolio .subtitulo:after {
  background: #fec63e;
}

.portfolio-lista li:last-child {
  margin-top: 20px;
}

.portifolio .call p {
  color: #ffffff;
}

/*Qalidade*/

.qualidade {
  padding: 60px 0;
}

.qualidade img {
  margin: 0 auto;
}

.qualidade-lista li {
  text-align: center;
  padding: 0 40px;
  margin-top: 20px;
}

.qualidade-lista li h3 {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
  margin-top: 20px;
}

.qualidade-lista li h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 6px auto;
}

.qualidade::after {
  content: "";
  display: block;
  width: 634px;
  height: 83px;
  background: url("img/linhas.svg") no-repeat center;
  position: absolute;
  top: 209px;
  right: 162px;
}

/*quebra*/

.quebra {
  background: url("img/bg-footer.jpg") no-repeat center;
  width: 100%;
  height: 220px;
  background-size: cover;
  text-align: center;
  padding-top: 40px;
}

.qubre .quote-externo {
  max-width: 400px;
}

/*Footer*/

.footer {
  width: 100%;
  background: black;
  color: white;
  padding: 20px 0;
}

.footer h3 {
  font-size: 18px;
  line-height: 25px;
  color: #fec63e;
  letter-spacing: .1em;
  font-weight: bold;
  text-transform: uppercase;
}

.footer h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fec63e;
  margin: 6px 0 12px 0;
}

.historia-ft {
  padding-right: 40px;
}

.contato-ft ul li {
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.redes-ft ul li{
  display: inline-block;
  margin-right: 10px;
}

.redes-ft ul li a {
  border: 3px solid #fec63e;
  display: block;
  padding: 10px;
}

.redes-ft ul li a:hover {
  border-color: white;
}

.copy {
  width: 100%;
  background: #fec63e;
  padding: 20px 0;
  font-weight: bold;
}
